@page "/artykul"
@rendermode InteractiveServer
@using Raport9.Services
@using Raport9.Models
@inject ArtService ArtService



<h1>Lista art</h1>

<h3>Lista produktów</h3>

@if (Artykuly == null)
{
    <p>Ładowanie danych...</p>
}
else if (!Artykuly.Any())
{
    <p>Brak produktów.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Art</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Artykuly)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Art</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Artykul> Artykuly;

    protected override async Task OnInitializedAsync()
    {
        Artykuly = await ArtService.GetArtykulyAsync();
       
    }
}


