.main-layout {
    background-color: white;
}
nav {
    display: block;
    width: 100%;

}
.navbar {
    display: flex;
    justify-content: flex-start; /* Wyr雕nanie element雕 do lewej */
    align-items: center; /* Wyrodkowanie w pionie */
    width: 100%;
    background-color: #000000;
    padding: 10px;
    box-sizing: border-box;
}
.content {
    width: 100%; /* Zapewnienie, 쯘 tre럱 zajmie ca씿 szeroko럱 */
    margin-top: 20px; /* Dystans od menu */
    padding: 20px;
}

.btn-moj {
    width:250px;
    
    background-color: #296dff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* P씇nne przej띾ie koloru */
}
    .btn-moj:hover {
        background-color: #299fff;
    }

.btn-alt {
    width: 250px;
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* P씇nne przej띾ie koloru */
}

    .btn-alt:hover {
        background-color: #f3bb62;
    }

.dropdown {
    position: relative;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease; /* P씇nna zmiana t쓰 i koloru czcionki */
    justify-content: flex-start; /* Przyciskom bli쯘j lewej */
    position: relative;
    display: inline-block;
}

.dropdown-alt {
    position: relative;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease; /* P씇nna zmiana t쓰 i koloru czcionki */
}

.dropdown-menuss {
    text-align: left; /* Wyr雕nanie tekstu do lewej */
    padding-left: 10px !important; /* Opcjonalny odst渣 od lewej kraw師zi */
    width: 250px;
    display: none;
    position: absolute;
    top: 100%; /* Ustawienie poni쯘j przycisku */
    left: 0;
    background-color: #299fff !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 150px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu-alt {
    text-align: left; /* Wyr雕nanie tekstu do lewej */
    padding-left: 10px !important; /* Opcjonalny odst渣 od lewej kraw師zi */
    width: 250px;
    display: none;
    position: absolute;
    top: 100%; /* Ustawienie poni쯘j przycisku */
    left: 0;
    background-color: #ffe0a6;
    border: 1px solid #ddd;
    border-radius: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 150px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.dropdown-item {
    padding: 10px;
    display: block;
    color: black;
    text-decoration: none;
}

.dropdown-alt-item {
    padding: 10px;
    display: block;
    color: black;
    text-decoration: none;
}





.dropdown-alt {
    position: relative;
    display: inline-block;
}


.dropdown:hover .dropdown-menuss {
    display: block
}

.dropdown-alt:hover .dropdown-menu-alt {
    display: block
}

.dropdown-menuss li:hover {
    background-color: #296dff !important;
}

.dropdown-menu-alt li:hover {
    background-color: #ffca68;
}
/* Definiowanie stylu dla przycisku o klasie .btn-zapisz */
.btn-zapisz {
    background-color: cornflowerblue; /* T쓾 przycisku */
    color: white; /* Kolor tekstu */
    padding: 10px 20px; /* Wewn社rzny margines */
    border: none; /* Brak obramowania */
    border-radius: 5px; /* Zaokr젾lone rogi */
    cursor: pointer; /* Kursor w postaci r査i */
    font-size: 16px; /* Rozmiar czcionki */
    transition: background-color 0.3s ease; /* P씇nne przej띾ie t쓰 */
}
.btn-czarn {
    width: 250px;
    background-color: black; /* T쓾 przycisku */
    color: black; /* Kolor tekstu */
    padding: 10px 20px; /* Wewn社rzny margines */
    border: none; /* Brak obramowania */
    border-radius: 5px; /* Zaokr젾lone rogi */
    cursor: pointer; /* Kursor w postaci r査i */
    font-size: 16px; /* Rozmiar czcionki */
    transition: background-color 0.3s ease; /* P씇nne przej띾ie t쓰 */
}
