
<div class="dropdown">
    <button class="btn-moj">
        RAPORT AUTOMATYKÓW
    </button>
    <nav class="dropdown-menuss">
        <li><NavLink><a class="dropdown-item" href="/napisz">Napisz</a></NavLink></li>
        <li><NavLink><a class="dropdown-item" href="#">Usuń</a></NavLink></li>
        <li><NavLink><a class="dropdown-item" href="#">Przeglądaj</a></NavLink></li>
    </nav>
</div>



<div class="dropdown">
    <button class="btn-moj">
        RAPORT PROJEKTÓW
    </button>
    <nav class="dropdown-menuss">
        <li><NavLink><a class="dropdown-item" href="/napisz">Napisz</a></NavLink></li>
        <li><NavLink><a class="dropdown-item" href="#">Usuń</a></NavLink></li>
        <li><NavLink><a class="dropdown-item" href="#">Przeglądaj</a></NavLink></li>
    </nav>
</div>


<div class="dropdown-alt">
    <button class="btn-alt">
        SŁOWNIKI
    </button>
    <ul class="dropdown-menu-alt">
        <li><NavLink class="dropdown-item" href="#">Pracownicy</NavLink></li>
        <li><NavLink class="dropdown-item" href="/artykul">Lista artykułów</NavLink></li>
        <li><NavLink class="dropdown-item" href="#">lista wtryskarek</NavLink></li>
        <li><NavLink class="dropdown-item" href="#">Projekty automatyków</NavLink></li>
        <li><NavLink class="dropdown-item" href="#">Projekty konstruktorów</NavLink></li>
    </ul>

</div>
<div class="dropdown-alt">
    <button class="btn-alt">
        PRZEZBROJENIA
    </button>


    <ul class="dropdown-menu-alt">
        <li><NavLink class="dropdown-item" href="#">Ruch kopyt</NavLink></li>
        <li><NavLink class="dropdown-item" href="#">Aktualnie</NavLink></li>
        <li><NavLink class="dropdown-item" href="#">Szukaj</NavLink></li>

    </ul>

</div>
<button class="btn-czarn"></button>
<button class="btn-czarn"></button>
<button class="btn-czarn"></button>